/***************************************
GENERAL
****************************************/

body {
  margin: 6% 6%;
}

#wrapper {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

a {
  color: #333;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p { 
	font-size: 80%; 
	padding: 5% 10% 5% 10%; 
	position: relative; 
	text-align: left;
  margin: auto;
}


h3 {
  font-size: 150%;
  font-weight: 700;
  padding: 5%;
}

h4 { 
  font-weight: 300;
  font-size: 70%; 
  position: relative; 
  text-align: center;
}


.welcome {
  display: block;
  margin: auto;
  max-width: 80%;
}

.boxed {
  border: 2px solid #d6d6d6;
  overflow: auto;
  margin: auto;
  max-width: 70%;
  text-align: center;
  padding: 3%;
  position: relative; 
  
}

.col-wrapper {
  width:100%; 
  margin: auto; 
  text-align:center;
  /*can't put any space in the bottom :(*/
  padding: 5% 0 0 5.5%; /*13px*/
  overflow: auto;
  position: relative;

}

.col {
  /*margin:0 0; */
  float:left; 
  display: inline;
}

.col-L {
  width:80%;
}

.col-R {
  width:80%;
}



/***************************************
HEADING
****************************************/

header {
  width: 100%;
  text-align: center;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 400%;
  font-weight: 300;
  letter-spacing: 10px;
}

h2 {
  font-size: 70%;
  font-weight: 300;
}


/***************************************
NAVIGATION
****************************************/

#nav {
  text-align: center;
  font-size: 80%;
  padding: 2%;
}

  #nav > a {
    display: none;
  }
    
    #nav a {
      padding: 10px;
    }
    
    #nav li {
      position: relative;
      display: inline-block;
      padding: 5px 0 5px 0;
    }
 
    /* first level */
 
    #nav > ul {
    }

    ul {
      list-style: none;
      padding: 0 40px 0 0;
    }
    
    /* second level */

    #nav li ul {
      display: none;
    }
        #nav li:hover ul {
          display: block;
          position: absolute;
          background-color: #ffffff;
          min-width: 150%;
          text-align: left;
          padding: 5px 0 5px 0;
        }
        
        #nav a.selected, nav a:hover {
          color: #bfbfbf;
        }

@media only screen and ( max-width: 45em ) /* 640 480px*/
{
    #nav {
        position: relative;   
    }
        
        #nav > a {
          display: none;
        }
        
         #nav a {
      padding: 10px;
    }

        #nav:not( :target ) > a:first-of-type,
          #nav:target > a:last-of-type {
            display: block;
          }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: relative;
        padding: 0;
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
    
    #nav li ul{
      display: none;
    }

    #nav li:hover ul {
        text-align: center;
        margin: auto;
        padding: 0;
        position: relative;
        background-color: #ffffff;
    }
}

$( '#nav li:has(ul)' ).doubleTapToGo();

/***************************************
FOOTER
****************************************/

footer {
  text-align: center;
  clear: both;
  margin: auto;
}

.social-icon {
  width: 3%;
  height: auto;
  padding: 5% 1% 5% 1%;

}
